appnope
asgiref
asn1crypto
backcall
certifi.1
cffi
chardet
cryptography
decorator
defusedxmlrc1
Django
idna
ipdb
ipython
ipython-genutils
jedi
oauthlib
parso
pexpect
pickleshare
prompt-toolkit
psycopg2
ptyprocess
pycparser
Pygments
PyJWT
pyOpenSSL
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
traitlets
urllib3
wcwidth
mock
